<table id="products">
  <thead>
  <tr>
    <th><%= sort_link q,
                      :name,
                      'Name',
                      {},
                      data: {
                          controller: 'search_resources',
                          action: 'click->search_resources#handleSearch'
                          #'turbo-action': 'advance',
                          #'turbo-frame': 'products_frame'
                      }
    %>
    </th>
    <th><%= sort_link q,
                      :price,
                      'Price',
                      {},
                      data: {'turbo-action': 'advance'} %>
    </th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% products.each do |product| %>
    <%= render product %>
  <% end %>
  </tbody>
</table>
